body{
    display:flex;
    font-family:'Ubuntu', sans-serif;
    margin:0 auto;
    flex-direction: column;
    background: url(imagenes/Fondo.jpg);
}
header{
    background:content-box;
    width: 100%;
}

.tituloPrincipal{
    width: 100%;
    text-align: center;
    color: #fff;
}
.frase{
    text-align: center;
    font-size: 18px;
    color:rgb(224, 216, 216);
}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.contenedores{
    display: flex;
    flex-direction: row;
}
.botones-caja{
    display: flex;
    flex-direction: row;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btncaja__copiar{
    justify-content: center;
}
.botones{
    background:content-box;
    border-radius: 10%;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
    width: auto;
}
.cryptoText{
    resize: none;
    background:content-box;
    margin-left: 20px;
    width: 60vw;
    height: 20vw;
    border: 5px solid grey;
    text-transform: lowercase;
    border-radius: 15px;
    font-size: 18px;
    color: white;

}
.cryptoText::placeholder{
    color: #fff;
    font-size: 15px;
}
.btnEncriptador{
    color: whitesmoke;
    border-color: rgb(81, 221, 81);
    background: rgb(81, 221, 81, .5);
}   
.btnDesencriptador{
    color: whitesmoke;
    border-color:rgb(212, 58, 58);
    background: rgb(212, 58, 58, .5);
}

.btnEncriptador:hover{
    background: rgb(81, 221, 81);
    color: black;
    border-color: black;
}
.btnDesencriptador:hover{
    background:rgb(212, 58, 58);
    color: black;
    border-color: black;
}
.resultadoText{
    background: fixed;
    border: 5px solid grey;
    border-radius: 15px;
    resize: none;
    margin-left:20px;
    width: 60vw;
    height: 20vw;
    font-size: 18px;
    color: whitesmoke;
}
.btnCopiar{
    color: whitesmoke;
    border-color: rgb(93, 93, 240);
    background: rgb(93, 93, 240, .5);
}
.btnCopiar:hover{
    background:rgb(93, 93, 240);
    color: black;
    border-color: black;
}

.piePagina{
    margin-top: auto;
    width: 100%;
    padding: 1em 0;
    background-color:black;
}
.textoPiePagina{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.contacto{
    float: right;
    margin-right: 10%;
}

@media screen and (max-width: 480px){
    h1{
        text-align: center;
    }
    .botones{
        font-size: 14px;
    }
    .botones-caja{
        align-items: center;
        box-sizing: border-box;
        width: 80vw;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 10px;
    }
    .btncaja__copiar{
        justify-content: center;
    }
    .contenedor{
        display: flex;
        justify-content: space-around;
        height: 300px;
    }
    .contenedores{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cryptoText, .resultadoText{
        border: 3px solid grey;
        font-size: 13px;
        width: 80vw;
    }
    .cryptoText::placeholder{
        font-size: 13px;
    }
    .encriptador, .resultado{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 80vw;
    }
}