body{
    display:flex;
    font-family:'Ubuntu', sans-serif;
    margin:0 auto;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(imagenes/Fondo.jpg);
}
header{
    background:content-box;
    width: 100%;
}

.tituloPrincipal{
    width: 100%;
    text-align: center;
    color: #fff;
}
.contenedor{
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-wrap: wrap;
}

.contenedores{
    display: flex;
}
.encriptador{
    display: inline-block;
}
.botones-caja{
    padding: 1em;
    vertical-align:bottom;
}
.botones{
    background:content-box;
    border-radius: 10%;
    padding: 1em;
    font-weight: bold;
    margin-top: 3em;
}
#cryptoText{
    resize: none;
    background:content-box;
    margin-left: 20px;
    width: 60vw;
    height: 20vw;
    border: 5px solid grey;
    text-transform: lowercase;
    border-radius: 15px;
    font-size: 18px;
    color: white;

}
#cryptoText::placeholder{
    color: #fff;
    font-size: 15px;
}
#btnEncriptador{
    color: whitesmoke;
    border-color: rgb(81, 221, 81);
}   
#btnEncriptador:hover{
    background: rgb(81, 221, 81);
    color: black;
    border-color: black;
}
#btnDesencriptador{
    color: whitesmoke;
    border-color:rgb(212, 58, 58);
}
#btnDesencriptador:hover{
    background:rgb(212, 58, 58);
    color: black;
    border-color: black;
}

.resultado{
    display:inline-block;
}
#resultadoText{
    background: fixed;
    border: 5px solid grey;
    border-radius: 15px;
    resize: none;
    margin-left:20px;
    width: 60vw;
    height: 20vw;
    font-size: 18px;
    color: whitesmoke;
}
#btnCopiar{
    color: whitesmoke;
    border-color: rgb(93, 93, 240);
}
#btnCopiar:hover{
    background:rgb(93, 93, 240);
    color: black;
    border-color: black;
}

.piePagina{
    margin-top: auto;
    width: 100%;
    padding: 1em 0;
    background-color:black;
}
.textoPiePagina{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.contacto{
    float: right;
    margin-right: 10%;
}

@media screen and (max-width: 480px){
    h1{
        text-align: center;
    }
    .contenedores,.contenedor,.encriptador,.botones-caja,.resultado,.piePagina,.contacto{
        width: auto;
    }
    .contenedores{
        display:block;
        margin: 0 auto;
    }
}