body{
    display:flex;
    font-family:'Ubuntu', sans-serif;
    margin:0 auto;
    height: 100vh;
    flex-direction: column;
    background: url(imagenes/Fondo.jpg) no-repeat center center;
}
header{
    background:content-box;
    width: 100%;
}

.tituloPrincipal{
    text-align: center;
    color: #fff;
}
.frase{
    text-align: center;
    font-size: 18px;
    color:rgb(224, 216, 216);
}
.contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10% 0; 
}

.contenedores{
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.botones-caja{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btncaja__copiar{
    justify-content: center;
}
.botones{
    background:content-box;
    border-radius: 10%;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
}
.encriptador{
    width: 100%;
}
.cryptoText, .resultadoText{
    background:none;
    border: 5px solid grey;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    height: 40vh;
    resize: none;
    text-transform: lowercase;
    width: 100%;

}
.cryptoText::placeholder{
    color: #fff;
    font-size: 15px;
}
.btnEncriptador{
    color: whitesmoke;
    border-color: rgb(81, 221, 81);
    background: rgb(81, 221, 81, .5);
}   
.btnDesencriptador{
    color: whitesmoke;
    border-color:rgb(212, 58, 58);
    background: rgb(212, 58, 58, .5);
}

.btnEncriptador:hover{
    background: rgb(81, 221, 81);
    color: black;
    border-color: black;
}
.btnDesencriptador:hover{
    background:rgb(212, 58, 58);
    color: black;
    border-color: black;
}
.resultado{
    width: 100%;
}
.btnCopiar{
    color: whitesmoke;
    border-color: rgb(93, 93, 240);
    background: rgb(93, 93, 240, .5);
}
.btnCopiar:hover{
    background:rgb(93, 93, 240);
    color: black;
    border-color: black;
}

.piePagina{
    margin-top: auto;
    width: 100%;
    padding: 1em 0;
    background-color:black;
}
.textoPiePagina{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.contacto{
    float: right;
    margin-right: 10%;
}

@media screen and (max-width: 480px){
    h1{
        text-align: center;
    }
    .botones{
        font-size: 14px;
    }
    .botones-caja{
        margin-top: 10px;
    }
    .btncaja__copiar{
        justify-content: center;
    }
    .contenedor{
        flex-direction: column;
    }
    .contenedores{
        width: 100%;
        margin-bottom: 20px;
    }
    .cryptoText, .resultadoText{
        border: 3px solid grey;
        font-size: 16px;
        width: 80%;
    }
    .cryptoText::placeholder{
        font-size: 16px;
    }
    .encriptador, .resultado{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}